
.product{
background-color: white;
}
.leftCol {
    float: left;
    width: 719px;
    position: relative;
    padding: 25px;  
}

.name_product{
    padding: 14px;
    border-bottom: 1px solid #e5e5e5;
    font-family: Arial;
    font-size: 22px;
    color: #3a2d2b;
    font-weight: bold;
    background-color: white;
}

.slider{
    width: 100%;
}

.slider img{
    width: 100%;
}


.slid{
    width: 80%;

}
.slid img{
    border:1px solid black;
}


.block_img img{
    width: 100%;
    cursor: pointer;
    border: 1px solid black;    
}


.prod_options {
    padding: 17px 0px 14px;
}

.prod_options .prod_prices {
    float: right;
}

.prod_options .prod_prices .prod_OldPrice {
    font-size: 25px;
    line-height: 20px;
    color: #686868;
    text-decoration: line-through;
    margin-left: 5px;
}

.prod_options .prod_prices>div {
    display: inline-block;
}

i, cite, em, var, address, dfn {
    font-style: italic;
}



.prod_options .prod_prices .prod_Price {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    color: #71c52d;
}

.prod_prices span.orange_percent {
    float: right;
    margin-top: 3px;
    font-size: 19px;
    line-height: 19px;
}
span.orange_percent {
    background: #ff8227;
    color: #fff;
    font-size: 17px;
    line-height: 17px;
    padding: 5px 5px 5px 4px;
    text-decoration: none !important;
    font-weight: bold;
    margin-left: 7px;
    display: inline-block;
}

.prod_options .prod_SizeSelect {
    float: left;
    font-size: 14px;
}

.prod_options .prod_SizeSelect select {
    font-size: 18px;
    width: 50px;
}

.prod_buttons {
    text-align: right;
}

.prod_buttons .zakaz {
    padding: 20px 10px !important;
}

.prod_descr {
    padding: 0px 0px 40px;
}	

.catalogItemDetailTextTitle {
    font-size: 20px;
    margin-bottom: 15px;
}

.reason{
    float: left;
    width: 248px;
    padding: 0px 10px 10px 10px;
    text-align: left;
}
.reason p{
    font-size: 14px;
    margin-left:5px;
    display: inline-block;
}

.reason img{
    float:left;
    display:inline-block;
}
.caption_reason{
    text-align: center;
    background-color: #4e200a;
    color:white;
    margin:10px 0 5px 0;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 2px;   
}
.search{
    width: 100%;
    border-radius: 5px;
    height: 30px;
    margin:5px 0;
    font-size: 19px;
}

.button{
    padding: 2px 5px;
    font-size: 15px;
    color:white;
    font-weight:bold;
    background-color: #ff8127;
    height: 30px;   
    cursor: pointer;
}

.end{
    clear:both;
}

.prod_buttons {
    text-align: right;
}

.prod_buttons .zakaz {
    padding: 20px 10px !important;
}

.bx_content_section a {
    color: #ff8400;
}
.button, .zakaz {
    display: inline-block;
    background-image: linear-gradient(bottom, rgb(255,129,39) 100%, rgb(240,160,104) 100%) !important;
    background-image: -o-linear-gradient(bottom, rgb(255,129,39) 100%, rgb(240,160,104) 100%) !important;
    background-image: -moz-linear-gradient(bottom, rgb(255,129,39) 100%, rgb(240,160,104) 100%) !important;
    background-image: -webkit-linear-gradient(bottom, rgb(255,129,39) 100%, rgb(240,160,104) 100%) !important;
    background-image: -ms-linear-gradient(bottom, rgb(255,129,39) 100%, rgb(240,160,104) 100%) !important;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(1, rgb(255,129,39)), color-stop(1, rgb(240,160,104)) ) !important;
    border: none !important;
    /* border-bottom: 2px solid #a16840 !important; */
    padding: 10px 10px 9px 10px !important;
    /* font-size: 14px !important; */
    color: #fff !important;
    text-decoration: none !important;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold !important;
    text-shadow: none !important;
    line-height: 14px !important;
    box-shadow: 0px 2px 0px 0px #a16840;
}
a {
    color: #576e75;
}

.date_product{
    text-align: left;
}





